SERVER_URL:
PASSWORD_RESET_URL:
SENDMAIL_USERNAME:
SENDMAIL_PASSWORD:
MAIL_HOST:

DEVELOP_DATABASE:
TEST_DATABASE:
PRODUCTION_DATABASE:
DBUSERNAME:
DBPASSWORD:

ONE_SIGNAL_USER_AUTH_KEY:
ONE_SIGNAL_API_KEY:
ONE_SIGNAL_APP_ID: 

ONE_SIGNAL_NOTIFY_URL: 
ONE_SIGNAL_ID_URL: 

FACEBOOK_APP_ID:
FACEBOOK_APP_SECRET:
